tr
  td colspan="2" align="center" style="border-left:1px solid #cccccc;border-right:1px solid #cccccc;"
    a href="#link" target="_blank" style="outline:none;text-decoration:none;"
      img src="images/TLFR_1217.jpg" width="680" height="530" border="0" style="display:block;margin:0 auto;" alt="alt encart cadeau"