/ header texte
- $headerdoc="Découvrez une foule d'idées, d'astuces, et d'articles bien pensés pour le bien-être <br /> de vos animaux de compagnie. Découvrez vite la collection de ce mois-ci! "

/ pckX3-line1
- $pck1x3txt = ["Ciseaux face & pattes","Faire une coupe à votre animal est un jeu d'enfant !"]
- $pck2x3txt = ["Lotion oculaire 125 ml","Pour qu'il ait de beaux yeux tous les jours !"]
- $pck3x3txt = ["Pulverisateur coussinets 150ml","Des coussinets toujours bien protégés"]

/ pckX3-line2
- $pck1x3_line2txt = ["title pck1x3_line2txt","lib pck1x3_line2txt"]
- $pck2x3_line2txt = ["title pck2x3_line2txt","lib pck2x3_line2txt"]
- $pck3x3_line2txt = ["title pck3x3_line2txt","lib pck3x3_line2txt"]

/ pckX2
- $pck1x2txt = ["Jouet chat ver gigoteur","Les petits et grands chats l'adorent !"]
- $pck2x2txt = ["Jouet pour chien branche","Mieux qu'un bâton, la branche !"]

/ pckX2 + pckX3
- $btntxt = "en savoir plus"
/ banner
/ - $alt_banner = "La super Prime de Vacances, validez votre participation au tirage au sort : 2000€ à GAGNER ";