- $srcRel = "images/"
- $srcAbs = "https://www.chienchatetcompagnie.com/NewsLettersCD/Cata_#{$date}/images/"

/ layout numeric
- $tabArray = [710, 20, 10]
- $pad_ext = 5; $column = 50; $gutter = 10
- $tab1 = $tabArray[0] + (2 * $pad_ext); $tab2 = $tab1 - (2 * $pad_ext)
- $fullwidth = ($column*12)+($gutter*11)

/ layout txt
- $db = 'display: block;'; $pt = 'padding-top: '; $pr = 'padding-right: '; $pb = 'padding-bottom: '; $pl = 'padding-left: '
- $tabborder0 = '0" cellpadding="0" cellspacing="0'

/ color
- $bgcolor = "#F9F1F1"
- $cddark  = "#006737"