- $body = 'body {-webkit-text-size-adjust: 90%; -ms-text-size-adjust: 90%; -moz-text-size-adjust: 90%; -o-text-size-adjust: 90%; text-size-adjust: 90%; margin: 0; padding: 0; border: 0; word-wrap: normal; }'+"\n";
- $tabFL = 'table[align=left] {float: left; }'+"\n";
 / line-height: 0;
- $ReadMsgBody = '.ReadMsgBody {width: 100%; }'+"\n";
- $ExternalClass = '.ExternalClass {width: 100%; }'+"\n";
- $ExternalClass_ALL = '.ExternalClass * {line-height: 100%; }'+"\n";