$cddark: "#006737";
// class generiques
table {border-collapse: collapse; padding: 0; }
td {font-size: 0; }
td img {display: block; }
img {display: block; }
a {line-height: normal; }
a img {border: 0; }

.db{display: block;}
.altlogo, .altgift, .altcat {font-family: Arial, sans-serif;}
.altlogo{font-size: 36px; font-weight: bold; color: #{$cddark};}
.altgift{font-size: 21px; font-weight: bold; color: #5B594F;}
.altcat{text-align: right; font-size: 18px; font-weight: normal; font-style: italic; color: #222222;}
.giftCode {color: #014CA0; font-family: Arial, Helvetica, sans-serif; font-size: 21px; }
.navtxt {text-decoration: none; font-family: Arial, sans-serif; font-size: 14px; color: #FFFFFF;}
.pk_title {vertical-align: middle; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 18px;}
.pk_title a {text-decoration: none; color: #5F3712; }
.pk_txt {vertical-align: top; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 14px;}
.pk_txt a {text-decoration: none; color: #212121;}

.pdl8 {padding-left: 8px;}
.pdr8 {padding-right: 8px;}
.pdt20 {padding-top: 20px;}
.pdl20 {padding-left: 20px;}
.pdr20 {padding-right: 20px;}

.bxsh {box-shadow: 0 0 6px #808080;}
.bd1pxc {border: 1px solid #ccc;}
.bdl1c {border-left: 1px solid #ccc; }
.bdr1c {border-right: 1px solid #ccc; }
.bdtDeepPink {border-top: 1px solid #FB9DBE;}
.bdbDeepPink {border-bottom: 1px solid #FB9DBE;}